<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">LED Display</h1>
	<div class="btn-toolbar mb-2 mb-md-0">
		<div class="btn-group mr-2">
			<button (click)="update()" class="btn btn-sm btn-outline-secondary">Update</button>
		</div>
	</div>
</div>

<div *ngIf="led">
	<div>
		<label>
			Number of LEDs: 
			<input [(ngModel)]="led.leds" type="number" min="0" max="150" step="1">
		</label>
	</div>

	<div>
		<label>
			Delay: 
			<input [(ngModel)]="led.delay" (change)="update()" type="range" min="1" max="500" class="slider">
		</label>
		<label>Value:</label> {{ led.delay }}
	</div>

	<div>
		<label>
			Brightness: 
			<input [(ngModel)]="led.brightness" (change)="update()" type="range" min="0" max="255" class="slider">
		</label>
		<label>Value:</label> {{ led.brightness }}
	</div>

	<div>
		<label>
			Color: 
			<input id="demo" type="text" class="form-control" value="rgb(255, 128, 0)" />
		</label>
	</div>

</div>
<div *ngIf="!led">
	<h2>Loading LED Display State...</h2>
</div>

<script>
$('#demo').colorpicker();
</script>
