<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">LED Display</h1>
	<div class="btn-toolbar mb-2 mb-md-0">
		<div class="btn-group mr-2">
			<button (click)="update()" class="btn btn-sm btn-outline-secondary">Update</button>
		</div>
	</div>
</div>

<div *ngIf="led">
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">LEDs</label>
		<div class="col-sm-1">
            <input [(ngModel)]="led.leds" type="number" min="0" max="150" step="1">
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Delay</label>
		<div class="col-sm-6">
    		<input [(ngModel)]="led.delay" (change)="update()" type="range" min="1" max="500" class="slider">
		</div>
		<div class="col-sm-1">
    		{{ led.delay }}
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Brightness</label>
		<div class="col-sm-6">
			<input [(ngModel)]="led.brightness" (change)="update()" type="range" min="0" max="255" class="slider">
		</div>
		<div class="col-sm-1">
		    {{ led.brightness }}
		</div>
	</div>

</div>
<div *ngIf="!led">
	<h2>Loading LED Display State...</h2>
</div>

