<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Custom Palettes</h1>
	<div class="btn-toolbar mb-2 mb-md-0">
		<div class="btn-group mr-2">
			<button (click)="update()" class="btn btn-sm btn-outline-secondary">Update</button>
		</div>
	</div>
</div>


Palettes:
<ul>
    <li *ngFor="let palette of palettes"
        [class.selected]="palette === selectedPalette"
        (click)="onSelect(palette)">
        {{ palette.name }}
    </li>
</ul>

<app-palette-detail [palette]="selectedPalette"></app-palette-detail>


